# visual studio - gameuploader
game_uploader/.vs
game_uploader/bin
game_uploader/obj
game_uploader/obj/*
game_uploader/v15/*
game_uploader/ARCO1500_Uploader.csproj.user

# not emulator
not_emulator/bin
not_emulator/build

# geany and qtcreator project files
project.geany
arco-1500.*

# release folder
arco1500-release/
arco1500.zip

# arduino ide
arduino/**
!arduino/portable/
!arduino/portable/sketchbook/
!arduino/portable/sketchbook/libraries/
!arduino/portable/sketchbook/libraries/gamelib/
!arduino/portable/sketchbook/libraries/gamelib/**

# docs jekyll
docs/_site
docs/.sass-cache
docs/.jekyll-metadata
docs/_site
