# visual studio - gameuploader
gameuploader/.vs
gameuploader/DIY-game-uploader/bin
gameuploader/DIY-game-uploader/obj

# not emulator
not_emulator/bin
not_emulator/build

# some doncek shit
project.geany

# arduino ide
arduino/**
!arduino/portable/
!arduino/portable/sketchbook/
!arduino/portable/sketchbook/libraries/
!arduino/portable/sketchbook/libraries/gamelib/
!arduino/portable/sketchbook/libraries/gamelib/**
