# dist folder
dist/*

# generated gerber from fritzing
hardware/fritzing_sketch/gerber*

# visual studio - gameuploader
src/gameuploader/.vs
src/gameuploader/DIY-game-uploader/bin
src/gameuploader/DIY-game-uploader/obj

src/not_emulator/bin
src/not_emulator/build

# geany and qtcreator project files
project.geany
arduino_handheld_game_console.*