---
---

@import "{{ site.theme }}";

$background: #181818;
$green: #b5e53a;
$blue: #b0f0fd;
$purple: #e2a2e3;
$grey: #666;
$white: #eaeaea;

$break-small: 768px;
$break-large: 1200px;


html {
    min-height: 100%;
}

body {
    min-height: 100%;
    background-color: $background;
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (max-width: $break-small) {
        background: none;
        background-color: $background;
    }
}

header {
    margin-bottom: 25px;
    padding-bottom: 5px;
}

header {
    border-bottom: 2px solid $blue;
}

footer {
    padding-bottom: 1em;
}

a {
    color: $blue;
}

ul li {
    list-style-image: url("../images/bullet.png");
}

h1 {
    font-family: 'Racing Sans One', cursive !important;
    font-size: 4em !important;
    margin: 0em !important;
    display: inline;

    img {
        height: 100px;
    }

    &:before {
        content: "" !important;
    }
}

h1, h2, h3, h4 {
    text-transform: capitalize;
    color: $blue !important;
}

.btn {
    border-radius: 0;
    font-size: 1em;
    margin: 0 0 0.5em 0 !important;

    &.active {
        color: $blue;
    }
}

.pull-right {
    float: right;
}

.white {
    color: $white;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;

    a {
        width: calc(33% - 8px);
        margin: 0;
        overflow: hidden;
        margin-bottom: 20px;
        margin-right: 10px;

        @media screen and (max-width: $break-small) {
            width: calc(100% - 6px)
        }

        figure {
            margin: 0px;
            
            img {
                max-width:100%;
                height: auto;
                display: block;
                transition: transform .2s ease-in-out;

                &:hover {
                    transform: scale(1.025);
                }
            }

            figcaption {
                margin-top: 10px;
            }
        }   
    }    
}
