---
---

@import "{{ site.theme }}";

$background: #181818;
$green: #b5e53a;
$grey: #666;
$break-small: 768px;
$break-large: 1200px;

body {
    background-color: $background;
}

footer {
    padding-bottom: 1em;
}

.btn {
    border-radius: 0;

    &.active {
        color: $green;
    }
}

h2, h3, h4 {
    text-transform: capitalize; 
}

.pull-right {
    float: right;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;

    a {
        width: calc(33% - 8px);
        margin: 0;
        overflow: hidden;
        margin-bottom: 20px;
        margin-right: 10px;

        @media screen and (max-width: $break-small) {
            width: calc(100% - 6px)
        }

        figure {
            margin: 0px;
            
            img {
                max-width:100%;
                height: auto;
                display: block;
                transition: transform .2s ease-in-out;

                &:hover {
                    transform: scale(1.025);
                }
            }

            figcaption {
                margin-top: 10px;
            }
        }   
    }    
}
