---
---

@import "{{ site.theme }}";

$background: #181818;
$break-small: 480px;
$break-large: 1200px;

body {
    background: $background;
    background-image: none;
}

.btn {
    border-radius: 0;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* or space-around */

    a {
        width: calc(50% - 8px);
        margin: 0;
        overflow: hidden;
        margin-bottom: 20px;

        @media screen and (max-width: $break-small) {
            width: calc(100% - 6px)
        }

        figure {
            margin: 0px;
            
            img {
                max-width:100%;
                height: auto;
                display: block;
                transition: transform .2s ease-in-out;

                &:hover {
                    transform: scale(1.025);
                }
            }

            figcaption {
                margin-top:15px;
            }
        }   
    }    
}
